<style>
  footer a,p,h1,h2,h3,h4,h5,h6 {
    color:black !important;
  }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<footer class="ftco-footer ftco-section border-top shadow text-dark" style="padding: 2em 0 0 0;color: #000;">
  <div class="container">
    <div class="row mb-5">
      <!-- <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2 text-info">Upreak Jobboard</h2>
          <a class="navbar-brand" href="/">  <img src="https://upreak.com/images/main_logo.png" alt="logo" height="50" width="130"></a><br>
      <span class="text-justify">We are a recruitment company that specializes in finding and placing the best talent for your business.</p>
      <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
        <li class="ftco-animate"><a href="https://twitter.com/upreakonline" target="_blank"><span class="icon-twitter"></span></a></li>
        <li class="ftco-animate"><a href="https://www.facebook.com/profile.php?id=100095446926628" target="_blank"><span class="icon-facebook"></span></a></li>
        <li class="ftco-animate"><a href="https://www.instagram.com/upreakofficial/" target="_blank"><span class="icon-instagram"></span></a></li>
        <li class="ftco-animate"><a href="https://www.linkedin.com/company/upreak" target="_blank"><span class="icon-linkedin"></span></a></li>
      </ul>
      </div>
    </div> -->
    <div class="col-12 d-flex justify-content-center">
      <div class="d-flex justify-content-center">
        <div class="ftco-footer-widget mb-4">
          <!-- <h2 class="ftco-heading-2 text-info">Upreak Jobboard</h2> -->
          <a class="navbar-brand d-flex justify-content-center" href="/">  <img src="/images/main_logo.png" alt="logo" height="50" width="130"></a><br>
      <span class="text-center">Connecting talented individuals with top companies and organizations.</p>
      <ul class="d-flex justify-content-center ftco-footer-social list-unstyled float-md-center float-lft mt-3">
        <li class="ftco-animate" style="color: #000;"><a href="https://twitter.com/upreakofficial"  target="_blank"><span class="icon-twitter" ></span></a></li>
        <li class="ftco-animate"><a href="https://www.facebook.com/upreakofficial/" target="_blank"><span class="icon-facebook"></span></a></li>
        <li class="ftco-animate"><a href="https://www.instagram.com/upreakofficial/" target="_blank"><span class="icon-instagram"></span></a></li>
        <li class="ftco-animate"><a href="https://www.linkedin.com/company/upreak" target="_blank"><span class="icon-linkedin"></span></a></li>
        <li class="ftco-animate"><a href="https://www.youtube.com/@upreakofficial" target="_blank"><span class="fa-brands fa-youtube"></span></a></li>
        <li class="ftco-animate"><a href="https://www.threads.net/@upreakofficial" target="_blank"><span class="fa-brands fa-threads"></span></a></li>
      </ul>
      </div>
    </div>
    </div>
    <div class="col-md">
      <div class="ftco-footer-widget mb-4">
      <h2 class="ftco-heading-2 font-weight-bold " style="color: #000;">About Us</h2>
      <ul class="list-unstyled">
        <li><a href="/" class="pb-1 d-block"> <img src="../images/point.png" alt="twbs" width="22" height="22" class="rounded-circle flex-shrink-0 mr-1"> Home</a></li>
        <!--<li><a href="/chatbot" class="pb-1 d-block">Apply Now</a></li>-->
        <li><a href="/aboutus" class="pb-1 d-block"> <img src="../images/point.png" alt="twbs" width="22" height="22" class="rounded-circle flex-shrink-0 mr-1"> About Company</a></li>
        <!--<li><a href="categories" class="pb-1 d-block">Categories</a></li>-->
        <li><a href="/blog" class="pb-1 d-block"> <img src="../images/point.png" alt="twbs" width="22" height="22" class="rounded-circle flex-shrink-0 mr-1"> Blogs</a></li>
        <li><a href="/services" class="pb-1 d-block"> <img src="../images/point.png" alt="twbs" width="22" height="22" class="rounded-circle flex-shrink-0 mr-1"> Our Services</a></li>
      </ul>
      </div>
    </div>
    
    <div class="col-md">
      <div class="ftco-footer-widget mb-4 ml-md-4">
      <h2 class="ftco-heading-2 font-weight-bold" style="color: #000;">Account Details</h2>
      <ul class="list-unstyled">
        <li><a href="login" class="pb-1 d-block"> <img src="../images/point.png" alt="twbs" width="22" height="22" class="rounded-circle flex-shrink-0 mr-1"> My Account</a></li>
        <!-- <li><a href="login" class="pb-1 d-block">LogIn</a></li> -->
        <!-- <li><a href="#" class="pb-1 d-block">Create Account</a></li> -->
        <li><a href="/registration_recruitment_partner" class="pb-1 d-block"> <img src="../images/point.png" alt="twbs" width="22" height="22" class="rounded-circle flex-shrink-0 mr-1"> Recruiter Registration</a></li>
        <!-- <li><a href="#" class="pb-1 d-block">Checkout</a></li> -->
      </ul>
      </div>
    </div>
    <div class="col-md">
      <div class="ftco-footer-widget mb-4 ml-md-4">
      <h2 class="ftco-heading-2 font-weight-bold" style="color: #000;">Policy Details</h2>
      <ul class="list-unstyled">
        <li><a href="/termsandconditions" class="pb-1 d-block"> <img src="../images/point.png" alt="twbs" width="22" height="22" class="rounded-circle flex-shrink-0 mr-1"> Terms & Conditions</a></li>
		<li><a href="/privacypolicy" class="pb-1 d-block"> <img src="../images/point.png" alt="twbs" width="22" height="22" class="rounded-circle flex-shrink-0 mr-1"> Privacy Policy</a></li>
<!--         
        <li><a href="#" class="pb-1 d-block">Submit Resume</a></li>
        <li><a href="#" class="pb-1 d-block">Dashboard</a></li>
        <li><a href="#" class="pb-1 d-block">Browse Categories</a></li>
        <li><a href="#" class="pb-1 d-block">My Bookmarks</a></li>
        <li><a href="#" class="pb-1 d-block">Candidate Listing</a></li> -->
      </ul>
      </div>
    </div>
    <div class="col-md">
      <div class="ftco-footer-widget mb-4 ml-md-4">
      <h2 class="ftco-heading-2 font-weight-bold" style="color: #000;">Have a Question?</h2>
      <ul class="list-unstyled">
        <li><a href="/help-center" class="pb-1 d-block"> <img src="../images/point.png" alt="twbs" width="22" height="22" class="rounded-circle flex-shrink-0 mr-1"> Help Center  </a></li>
        <li><a href="tel:+919901381877" class="pb-1 d-block"> <img src="../images/point.png" alt="twbs" width="22" height="22" class="rounded-circle flex-shrink-0 mr-1"> +91 9901381877 </a></li>
        <li><a href="tel:+919901381877" class="pb-1 d-block"> <img src="../images/point.png" alt="twbs" width="22" height="22" class="rounded-circle flex-shrink-0 mr-1"> +91 74837 56277 </a></li>  
        <li><a href="mailto:info@upreak.com" class="pb-1 d-block"> <img src="../images/point.png" alt="twbs" width="22" height="22" class="rounded-circle flex-shrink-0 mr-1"> info@upreak.com  </a></li>
      </ul>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |<a href="https://upreak.com/">Upreak</a></a></p>
      </div>
      <div class="col-md-6">
        <p  class="text-right">Powered By <a href="https://www.apnacoder.com/" target="_blank" style="text-decoration: underline;"><b>Apna Coder</b></a></p>
      </div>
    </div>
  </div>
  </footer>
  <!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/65abe06f8d261e1b5f55e5a8/1hkjm9e8v';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->
  <!-- <script src="//code.tidio.co/mlp1jvhlxmq7truiyucmzibhmkt5emlz.js" async></script> -->

  <!-- animations -->

  <!-- list group item -->
  <script>
    // Function to check if an element is in the viewport
function isInViewport(element) {
const rect = element.getBoundingClientRect();
return (
  rect.top >= 0 &&
  rect.bottom <= (window.innerHeight || document.documentElement.clientHeight)
);
}

// Function to animate elements when they enter the viewport
function animateOnScroll() {
const items = document.querySelectorAll('.list-group-item');

items.forEach((item) => {
  if (isInViewport(item) && !item.classList.contains('animated')) {
    item.classList.add('animated');
  }
});
}

// Event listener for scroll events
window.addEventListener('scroll', animateOnScroll);

// Initial check for elements in viewport on page load
document.addEventListener('DOMContentLoaded', animateOnScroll);

  </script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
 // Function to animate each word in the heading
 function animateWords(element) {
   const words = element.textContent.split(' '); // Split text into words
   const animatedWords = words.map(word => `<span class="animated-word">${word}</span>`); // Wrap each word in a span
   element.innerHTML = animatedWords.join(' '); // Replace content with animated words
   const animatedWordSpans = element.querySelectorAll('.animated-word'); // Select all word spans

   // Apply animation to each word span
   animatedWordSpans.forEach((word, index) => {
     setTimeout(() => {
       word.classList.add('show');
     }, index * 100); // Delay each word animation for a staggered effect
   });
 }

 // Trigger animation for heading on page load
 const heading = document.querySelector('.custom-heading');
 animateWords(heading);
});

   </script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>