<%- include('includes/header.ejs') %>
<title>Services - Upreak a leading recruitment company</title>

  <body>
    
	  <%- include('includes/main_nav.ejs') %>
    <!-- END nav -->
    
   
    <div class="container p-5 custom-container mb-0">
      <h1 class="custom-heading animate">Our Vast Range of Services <br>has Helped over 100+ Job Seekers Find Employment.</h1>
      <p class="text-center custom-para animate">We are a recruitment company that connects talented individuals with top companies and organizations, guiding them towards their dream jobs and helping them achieve their career aspirations.</p>
      <div class="d-flex justify-content-center align-items-center text-center animate">
        <a href="/signup" class="btn-lg btn-dark text-white explore-btn ftco-animate">Start Now</a>
      </div>
    </div>
    
    
    
    
    
    
    <div class="container" id="featured-3">
      <!-- <h1 class="font-weight-bold pb-2  text-center container text-primary" style="font-size: 40px;" >Our Services Range from</h1>
      <p class="border-bottom pb-4 text-center container">We are recruitment company that connects talented individuals with top companies and organizations, guiding them towards their dream jobs and helping them achieve their career aspirations.</p> -->

      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <div class="feature">
            <div class="feature-icon bg-gradient text-center" style="border-radius: 12px;">
              <img src="images/main/resume.png" class="img-fluid" alt="Resume Icon">
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="feature">
            <h4 class="font-weight-bold text-uppercase mt-3">Streamlined Resume Builder</h4>
            <div class="list-group mt-3">
              <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3 border-0" aria-current="true">
                <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0 mr-1">
                <div class="d-flex flex-column justify-content-between">
                  <div>
                    <h6 class="mb-0">AI-Enhanced Resume Building</h6>
                    <p class="mb-0 opacity-75 text-justify">Start your career journey confidently with Upreak's resume builder. Our interactive chatbot guides you through a simple conversation to create a professional resume effortlessly with our userfriendly tool. Customizable templates, real-time previews, and optimized content</p>
                  </div>
                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3 border-0" aria-current="true">
                <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0 mr-1">
                <div class="d-flex flex-column justify-content-between">
                  <div>
                    <h6 class="mb-0">Tailored and Industry-Ready Resumes</h6>
                    <p class="mb-0 opacity-75 text-justify">Our tool ensures your resume meets industry standards while reflecting your unique qualifications. By transforming resume creation into an effortless process, Upreak helps you stand out in the job market.</p>
                  </div>
                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3 border-0" aria-current="true">
                <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0 mr-1">
                <div class="d-flex flex-column justify-content-between">
                  <div>
                    <h6 class="mb-0">Job Discovery and Career Advancement</h6>
                    <p class="mb-0 opacity-75 text-justify">Discover suitable job opportunities aligned with your skills and aspirations using Upreak's advanced features. Take the first step towards your ideal career path with a quick, user-friendly, and results-oriented approach.</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3 mb-3">
        <div class="col-lg-6 col-sm-12">
          <div class="feature">
            <h4 class="font-weight-bold text-uppercase mt-3">ACE YOUR INTERVIEWS: PERSONALIZED COACHING WITH INDUSTRY HR EXPERTS</h4>
            <div class="list-group mt-3">
              <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3 border-0" aria-current="true">
                <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0 mr-1">
                <div class="d-flex flex-column justify-content-between">
                  <div>
                    <h6 class="mb-0">Strategic Job Matchmaking</h6>
                    <p class="mb-0 opacity-75 text-justify">Navigate India's competitive job market with Upreak's Strategic Job Matchmaking service. Our seasoned recruiters leverage extensive networks to connect you with roles that offer stability and prestige, aligning perfectly with your skills and aspirations.</p>
                  </div>
                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3 border-0" aria-current="true">
                <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0 mr-1">
                <div class="d-flex flex-column justify-content-between">
                  <div>
                    <h6 class="mb-0">Comprehensive Career Support</h6>
                    <p class="mb-0 opacity-75 text-justify">Benefit from comprehensive support beyond job placement. Gain industry insights, refine your resume, and access tailored guidance to prepare for promising opportunities in the Indian job market.</p>
                  </div>
                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3 border-0" aria-current="true">
                <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0 mr-1">
                <div class="d-flex flex-column justify-content-between">
                  <div>
                    <h6 class="mb-0">Career Aspirations Championed</h6>
                    <p class="mb-0 opacity-75 text-justify">At Upreak, we don't just recognize your career aspirations; we vigorously champion them. Partner with us to propel your career forward with confidence and strategic guidance.</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="feature">
            <div class="feature-icon bg-gradient text-center" style="border-radius: 12px;">
              <img src="images/main/mock.png" class="img-fluid" alt="Resume Icon">
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3 mb-3">
        <div class="col-lg-6 col-sm-12">
          <div class="feature">
            <div class="feature-icon bg-gradient text-center" style="border-radius: 12px;">
              <img src="images/main/4.jpg" class="img-fluid" alt="Resume Icon">
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="feature">
            <h4 class="font-weight-bold text-uppercase mt-3">ELITE JOB MATCHING,TAILORED SUPPORT FOR LANDING YOUR DREAM JOB IN INDIA
            </h4>
            <div class="list-group mt-3">
              <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3 border-0" aria-current="true">
                <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0 mr-1">
                <div class="d-flex flex-column justify-content-between">
                  <div>
                    <h6 class="mb-0">Tailored Job Matching</h6>
                    <p class="mb-0 opacity-75 text-justify">In India's competitive job market, where employment signifies stability and prestige, our Strategic Job Matchmaking service pairs you with roles that fit your skills and aspirations. Benefit from our recruiters' extensive networks to access exclusive opportunities.</p>
                  </div>
                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3 border-0" aria-current="true">
                <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0 mr-1">
                <div class="d-flex flex-column justify-content-between">
                  <div>
                    <h6 class="mb-0">Comprehensive Career Preparation</h6>
                    <p class="mb-0 opacity-75 text-justify">Gain industry insights and receive assistance in refining your resume with Upreak's support. We equip you with the tools and knowledge needed to excel in promising job opportunities.</p>
                  </div>
                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3 border-0" aria-current="true">
                <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0 mr-1">
                <div class="d-flex flex-column justify-content-between">
                  <div>
                    <h6 class="mb-0">Championing Your Career Aspirations</h6>
                    <p class="mb-0 opacity-75 text-justify">At Upreak, we go beyond recognizing your career goals; we actively champion them. Collaborate with us to turn your aspirations into reality, backed by expert guidance and personalized support.



                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3 mb-3">
        <div class="col-lg-6 col-sm-12">
          <div class="feature">
            <h4 class="font-weight-bold text-uppercase mt-3">CONTINUED SUCCESS NETWORk, ONGOING SUPPORT AND WISDOM FROM OUR PROFESSIONAL COMMUNITY</h4>
            <div class="list-group mt-3">
              <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3 border-0" aria-current="true">
                <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0 mr-1">
                <div class="d-flex flex-column justify-content-between">
                  <div>
                    <h6 class="mb-0">Continued Professional Growth</h6>
                    <p class="mb-0 opacity-75 text-justify">At Upreak's Continued Success Network, your career journey extends beyond landing a job. Benefit from ongoing guidance and community support that fuels your professional development and growth.</p>
                  </div>
                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3 border-0" aria-current="true">
                <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0 mr-1">
                <div class="d-flex flex-column justify-content-between">
                  <div>
                    <h6 class="mb-0">Our networks</h6>
                    <p class="mb-0 opacity-75 text-justify">Our network embraces the ethos of 'the world is one family,' fostering a supportive environment where experienced professionals share valuable insights and solutions.</p>
                  </div>
                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3 border-0" aria-current="true">
                <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0 mr-1">
                <div class="d-flex flex-column justify-content-between">
                  <div>
                    <h6 class="mb-0">Community Celebration of Success</h6>
                    <p class="mb-0 opacity-75 text-justify">Join a community at Upreak that not only supports but celebrates your achievements. Seek advice, share experiences, and grow together in an inclusive and encouraging space dedicated to your continued success.</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="feature">
            <div class="feature-icon bg-gradient text-center" style="border-radius: 12px;">
              <img src="images/main/5.jpg" class="img-fluid" alt="Resume Icon">
            </div>
          </div>
        </div>
      </div>
      
      


<script>
  
</script>


      <!-- <div class="row g-4 py-5 d-flex row-cols-1 row-cols-lg-3 justify-content-center align-items-center">
        
      
        
        <div class="feature col-sm-12 col-lg-6 ">
          <div class="feature-icon  bg-gradient text-center" style="border-radius:12px; width:40%">
            <img src="images/main/resume.png" width="150%">
          </div>
          <h4 class="font-weight-bold text-uppercase  mt-3 ">Streamlined Resume Builder: Fast-Track Your Career with AI-Powered Expertise</h4>
          <p style="font-size: medium; text-align: justify;">
           
            
            Begin your career journey with confidence through our AI-enhanced Resume Builder. Upreak's interactive chatbot simplifies resume creation, transforming it into an effortless conversation. The result is a tailored resume that not only showcases your professional story but also meets industry standards. Our advanced tool additionally helps you discover suitable job opportunities, paving the way for your ideal career. Quick, user-friendly, and results-oriented, it's the first step toward your career success.</p>
        </div>
        <div class="feature col-sm-12 col-lg-6">
          <div class="feature-icon  bg-gradient text-center" style="border-radius:12px; width:40%">
            <img src="images/main/mock.png" width="150%">
          </div>
          <h4 class=" mt-4  font-weight-bold text-uppercase">Ace Your Interviews: Personalized Coaching with Industry HR Experts</h4>
            <p style="font-size: medium;">In the competitive sphere of India's job market, where employment is not just a role but a hallmark of stability and prestige, our Strategic Job Matchmaking service emerges as your essential partner. Collaborate with our seasoned recruiters, leveraging their extensive networks to uncover roles that align with your skills and aspirations. From gaining industry insights to refining your resume, our comprehensive support prepares you for the most promising opportunities. With Upreak, your career aspirations are not only recognized but vigorously championed.</p>
        
        </div>
        
        <div class="feature col-sm-12 col-lg-6">
          <div class="feature-icon  bg-gradient text-center" style="border-radius:12px; width:40%">
            <img src="images/main/4.jpg" width="150%">
          </div>
          <h4 class="mt-4 font-weight-bold text-uppercase">Elite Job Matching: Tailored Support for Landing Your Dream Job in India</h4>
            <p style="font-size: medium;">In the competitive sphere of India's job market, where employment is not just a role but a hallmark of stability and prestige, our Strategic Job Matchmaking service emerges as your essential partner. Collaborate with our seasoned recruiters, leveraging their extensive networks to uncover roles that align with your skills and aspirations. From gaining industry insights to refining your resume, our comprehensive support prepares you for the most promising opportunities. With Upreak, your career aspirations are not only recognized but vigorously championed.</p>
       
        </div>
        <div class="feature col-sm-12 col-lg-6">
          <div class="feature-icon  bg-gradient text-center" style="border-radius:12px; width:40%">
            <img src="images/main/5.jpg" width="150%">
          </div>
          <h4 class="mt-4  font-weight-bold text-uppercase">Continued Success Network: Ongoing Support and Wisdom from Our Professional Community</h4>
          <p style="font-size: medium;">Your career journey doesn't end with a job offer, and neither does our support. Welcome to Upreak's Continued Success Network, where ongoing guidance and community wisdom fuel your professional growth. Our network, inspired by the ethos of 'Vasudhaiva Kutumbakam' (the world is one family), offers a supportive environment where experienced professionals share insights and solutions. It's a space to seek advice, share experiences, and grow together. Join us and experience a community that not only supports but celebrates your every success.</p>
          
        </div>
      </div> -->
    </div>
    <section class="mr-5 ml-5 mb-5 p-4 text-justify" style="color:black">
    <div class="row">
      
    </section>
  

    <%- include('includes/main_footer.ejs') %>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>
    
  </body>
</html>