<head>
    <!-- HTML Meta Tags -->
<meta name="description" content="Welcome to Upreak, a leading recruitment company dedicated to empowering freshers and experienced professionals in their pursuit of fulfilling careers. Our mission is to connect talented individuals with top companies and organizations, guiding them towards their dream jobs and helping them achieve their career aspirations.">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://upreak.com">
<meta property="og:type" content="website">
<meta property="og:title" content="Upreak.com">
<meta property="og:description" content="Welcome to Upreak, a leading recruitment company dedicated to empowering freshers and experienced professionals in their pursuit of fulfilling careers. Our mission is to connect talented individuals with top companies and organizations, guiding them towards their dream jobs and helping them achieve their career aspirations.">
<meta property="og:image" content="https://upreak.com/images/main_logo.png">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="https://upreak.com">
<meta property="twitter:url" content="https://upreak.com/">
<meta name="twitter:title" content="Upreak.com">
<meta name="twitter:description" content="Welcome to Upreak, a leading recruitment company dedicated to empowering freshers and experienced professionals in their pursuit of fulfilling careers. Our mission is to connect talented individuals with top companies and organizations, guiding them towards their dream jobs and helping them achieve their career aspirations.">
<meta name="twitter:image" content="https://upreak.com/images/main_logo.png">
    <title>Upreak - Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="/images/main_logo.png" type="image/x-icon" height="100%" width="100%">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">


    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">





<style>




  #whyus{
    background-color: #f8fafc;
  }
  .whyus{
    max-width:70%;
   
  }
  footer{
    background-color: #f8fafc;
  }
  .navbar .nav-link{
    font-weight: 00 !important;
  }
  @media (min-width: 1200px){
  .whyus{
    background-color: #f8fafc;
    max-width:80%;
  }}
  @media (min-width: 992px){
  .whyus{
    background-color: #f8fafc;
    max-width:80%;
  }}
  @media (min-width: 768px){
  .whyus{
    max-width:80%;
    background-color: #f8fafc;
  }}
  @media (min-width: 576px){
  .whyus{
    max-width:80%;
    background-color: #f8fafc;
  }}

  @media (max-width: 576px) { /* Adjust the breakpoint as needed */
    .line_img {
      width: 100%;
    }
  }
  .maintext {
    font-size: 25px; /* Default padding */
}
.maintext2{
  font-size: 75px;
  }
  .mainp{
    font-size: 35px;
    text-shadow: 1px 1px 2px #000, 0 0 1em blue, 0 0 0.2em blue;
  }
  .img-fluid{
    width:50%;
    height:50%; 
  }

/* Responsive padding adjustments */
@media screen and (max-width: 768px) {
  .clicktext {
    font-size: 20px; /* Adjust padding for smaller screens */
  }
  .maintext2{
    font-size: 50px;
  }
  .mainp{
    font-size: 15px;
  }
  .videopara{
    font-size: 20px;
  }
  
  .img-fluid{
    width:100%;
    height:100%; 
  }
}

@media screen and (max-width: 576px) {
  .clicktext {
    font-size: 20px; /* Further adjust padding for even smaller screens */
  }
  .maintext2{
    font-size: 20px;
  }
  .videopara{
    font-size: 20px;
  }
  .mainp{
    font-size: 20px;
  }
  .img-fluid{
    width:100%;
    height:100%; 
  }
  .hero-wrap .slider-text {
    text-align: center;
    height: 500px;
  }
  .hero-wrap {
    height: 500px;
}

}

</style>
  </head>

  <body>
    <%- include('includes/main_nav.ejs') %>

    <!-- END nav -->
    <div class="container p-5 custom-container ">
      <h1 class="custom-heading animate mb-5">Welcome to Upreak Your Career Catalyst!</h1>
      <p class="text-center custom-para animate">We're thrilled to see you taking the first step towards unlocking your potential and paving the way to your dream job.</p>
      <div class="d-flex justify-content-center align-items-center text-center">
        <a href="services" class="ftco-animate btn-lg btn-dark text-white explore-btn mr-1 explore">Explore More</a>
        <a href="/panel/signup" class="ftco-animate btn-lg btn-outline-dark border explore-btn ml-1 start">Get Start Now</a>
      </div>
      </div>
  
   <div class="container p-0 text-center" >
    <h3 style="font-weight: 700;" class="videopara">Our quick video shows you how we connect you to top companies, coach
      you to success, and skill you up. Simple, fun, and your ticket to an amazing
      career. Watch now and step closer to your dream job with Upreak!</h3>
   </div>
   
    <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center p-4 mb-0">
      <video class="img-fluid" controls>
        <source src="video/upreak_promo.mp4" type="video/mp4">
        <source src="video/upreak_promo.mp4" type="video/ogg">
        Your browser does not support the video tag.
      </video>
    </div>
   
   
  <div style=" position: relative;margin-top: 20px;">
  <!-- Curly SVG -->
  <section class="container justify-content-center pb-5 pt-5" style="text-align: center; position: relative; z-index: 1;">
    <h1 class="font-weight-bold pb-2 text-center text-black clicktext" style="font-weight: bold; padding-bottom: 2px;">Click the button below and fill out your details correctly to make you dream job a reality</h1>
    <p class="pb-4 text-center text-capitalize" style="text-transform: capitalize;"></p>
    <p><a href="/panel/chat_upreak" class="ftco-animate btn-lg btn-dark btn" style="display: inline-block; font-weight: bold; text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer; user-select: none; border: 1px solid transparent; padding: 0.75rem 1.5rem; font-size: 1.5rem; line-height: 1.5; border-radius: 0.25rem; background-color: black; color: #fff; transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;" value="">Get Started 👍</a></p>
  </section>
</div>


    <%- include('includes/main_footer.ejs') %>



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
          stroke="#F96D00" /></svg></div>


    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.easing.1.3.js"></script>
    <script src="/js/jquery.waypoints.min.js"></script>
    <script src="/js/jquery.stellar.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/aos.js"></script>
    <script src="/js/jquery.animateNumber.min.js"></script>
    <script src="/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false">
    </script>
    <script src="/js/google-map.js"></script>
    <script src="/js/main.js"></script>

  </body>