<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/custom.css">
<style>
  .ftco-navbar-light {
  background: transparent !important;
  position: absolute;
  top: 0px !important;
  left: 0;
  right: 0;
  z-index: 3; }
  .back{
    /* background-image:url('https://images.unsplash.com/photo-1517048676732-d65bc937f952?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
  }
  body .btn{
    border-radius:12px !important;
  }
  .shadow {
         box-shadow: 0rem !important;
    }
    .content-wrapper {
    /* background: #F5F7FF; */
    padding: 0 !important;
    /* width: 100%; */
 
}
input{
  border-color: black !important;
  border-radius: 5px !important;
}
</style>
<body  class="back">


  <div class="row">
    
    <div class="col-lg-5 col-md-6">
      <div class="container-scroller">
        <div class="container-fluid page-body-wrapper ">
          <div class="content-wrapper d-flex align-items-center auth px-0" style="">
            <div class="row w-100 mx-0">
              <div class=" mx-auto bg-white">
                <div class="auth-form-light text-left">
                  <div class="brand-logo text-center mb-2">
                   <a  href="/"> <img src="/images/main_logo.png" alt="logo"></a>
                  </div>
                  <h2>Welcome Candidate 😊!</h2>
                  <h4 class="font-weight-light">SignUp to enjoy our amazing Vast Jobs services.</h4>
                  <form class="pt-2" action="/panel/signup" method="POST" autocomplete="off">
                    <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
                    <div class="form-group mt-1 mb-0">
                      <input type="text" name="uname" class="form-control form-control-lg" id="nameInput" required placeholder="Enter your name">
                  </div>
                    <div class="form-group mt-1 mb-0">
                        <input type="tel" name="phone" class="form-control form-control-lg" id="phoneInput" required placeholder="Enter your phone number">
                    </div>
                    <div class="form-group mt-1 mb-0">
                      <input type="tel" name="wphone" class="form-control form-control-lg" id="wphoneInput" required placeholder="Enter your Whatsapp number">
                  </div>
                
                    <div class="form-group mt-1 mb-0">
                        <input type="email" name="mail" class="form-control form-control-lg" id="emailInput" required placeholder="Enter your email">
                    </div>
                
                    <div class="form-group mt-1 mb-0">
                        <input type="password" name="pswrd" class="form-control form-control-lg" id="passwordInput" required placeholder="Enter your password">
                    </div>
                    <div class="mt-1">
                        <button type="submit" value="submit" class="btn btn-block btn-dark btn-lg font-weight-medium auth-form-btn">Sign Up</button>
                        <!-- <a href="#" role="button" data-toggle="modal" data-target="#exampleModal" class="text-muted text-black">
                            <p style="margin-top:10px; text-align:left; display: inline-block;">Reset Password</p>
                        </a> -->
                        <a href="/" class="text-muted text-black text-center justify-content-center d-flex">
                            <p style="margin-top:10px; display: inline-block;" class="">-- Back To Home --</p>
                        </a>
                        <a href="/auth/google" >
                            <button type="button" class="btn btn-dark d-block w-100 mb-1"><i class="fa-brands fa-google"></i> Sign Up With Google</button>
                        </a>
                        <!-- <a href="/">
                            <button type="button" class="btn btn-success d-block w-100">Let's Signup Now</button>
                        </a> -->
                    </div>
                </form>
                
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
      </div>  
  </div>
  <div class="col-lg-7 col-md-6 text-center" style="background:black;height: 100vh;">
    <div class="container p-5 custom-container ">
<div class="text-center">
</div>
      <h1 class="custom-heading animate text-white">Are You Looking for a Job? We has Helped 100+ Job Seekers to Find Jobs.</h1>
      <!-- <p class="text-center custom-para animate">We are a recruitment company that connects talented individuals with top companies and organizations, guiding them towards their dream jobs and helping them achieve their career aspirations.</p> -->
      <div class="d-flex justify-content-center align-items-center text-center">
        <div class="ftco-animated"><a href="/jobs" class="btn-lg bg-white text-black explore-btn mr-1" style="border-radius: 25px;">Explore More</a></div>
        <a href="/services" class="btn-lg btn-outline-dark bg-transparent border explore-btn ml-1 text-white" style="border-radius: 25px;">View Services</a>
      </div>
      
    </div>
  </div>
    
  </div>

  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="../../vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="../../js/off-canvas.js"></script>
  <script src="../../js/hoverable-collapse.js"></script>
  <script src="../../js/template.js"></script>
  <script src="../../js/settings.js"></script>
  <script src="../../js/todolist.js"></script>
  <!-- endinject -->
  <script>
    document.addEventListener("DOMContentLoaded", function() {
 // Function to animate each word in the heading
 function animateWords(element) {
   const words = element.textContent.split(' '); // Split text into words
   const animatedWords = words.map(word => `<span class="animated-word">${word}</span>`); // Wrap each word in a span
   element.innerHTML = animatedWords.join(' '); // Replace content with animated words
   const animatedWordSpans = element.querySelectorAll('.animated-word'); // Select all word spans

   // Apply animation to each word span
   animatedWordSpans.forEach((word, index) => {
     setTimeout(() => {
       word.classList.add('show');
     }, index * 100); // Delay each word animation for a staggered effect
   });
 }

 // Trigger animation for heading on page load
 const heading = document.querySelector('.custom-heading');
 animateWords(heading);
});

   </script>
</body>
